@model SEDC.PracticalAspNet.Business.Model.DtoMenu

@{
    ViewBag.Title = "Details";
}

@section styles{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
}

<h2>Details</h2>
<h4>DtoMenu</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.RestaurantName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RestaurantName)
    </dd>

</dl>
<h2>
    categories:
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCategoryModal">
        Add
    </button>
</h2>
<div id="categories">
    <h3 data-categoryId="1">Breakfast</h3>
    <div>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <td>Item Id</td>
                    <td>Name</td>
                    <td>
                        <button class="btn btn-success">+</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Coca Cola</td>
                    <td>
                        <button class="btn btn-danger">-</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Podravka supa</td>
                    <td>
                        <button class="btn btn-danger">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 data-categoryid="45">deserts</h3>
    <div>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <td>Item Id</td>
                    <td>Name</td>
                    <td>
                        <button class="btn btn-success">+</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Coca Cola</td>
                    <td>
                        <button class="btn btn-danger">-</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Podravka supa</td>
                    <td>
                        <button class="btn btn-danger">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>soups</h3>
    <div>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <td>Item Id</td>
                    <td>Name</td>
                    <td>
                        <button class="btn btn-success">+</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Coca Cola</td>
                    <td>
                        <button class="btn btn-danger">-</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Podravka supa</td>
                    <td>
                        <button class="btn btn-danger">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!--create category modal goes here-->
<div id="createCategoryModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--modal  header goes here-->
                <h5 class="modal-title">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--modal  body goes here-->
                <form id="form_createCategory" action="/asdasdasd" method="post">
                    <input type="hidden" name="menuId" value="@Model.Id" />
                    <div class="form-group">
                        <label for="categoryName">Category Name</label>
                        <input type="text" name="categoryName" class="form-control" placeholder="Category Name" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_createCategory" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script>
        $("#categories").accordion({
            active: 0,
            activate: function (event, ui) {
                console.log(ui.newHeader[0].getAttribute("data-categoryid"));
            }
        });
        $('#myModal').on('shown.bs.modal', function () {
            //$('#myInput').trigger('focus')
        });
        
        var CategoryService = function () {
            var createCategoryUrl = '/categories/create';
            var btn_createCategory = $("#btn_createCategory");
            form_createCategory = $("#form_createCategory")[0];
            btn_createCategory.on('click', function (event) {
                var request = {
                    menuId: form_createCategory["menuId"].value,
                    categoryName: form_createCategory["categoryName"].value
                };
                $.post(createCategoryUrl, request, function (data) {
                    console.log(data);
                });
            });
        };
        var categoryService = new CategoryService();


    </script>
}
